<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="quizDao" class="ru.otus.spring.homework01.dao.QuizDaoImpl">
        <constructor-arg name="resourceName" value="questionnaire.csv"/>
    </bean>

    <bean id="quizService" class="ru.otus.spring.homework01.service.QuizServiceImpl">
        <constructor-arg name="dao" ref="quizDao"/>
    </bean>

    <bean id="quizRunner" class="ru.otus.spring.homework01.QuizRunner">
        <constructor-arg name="quizService" ref="quizService"/>
    </bean>
</beans>
